:root {
    --link-color: #50c1e9;
    --body-background-color: #f6f7fb;
    --content-background-color: #ffffff;
}

body {
    margin: 0;
    background-color: var(--body-background-color);
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 24px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-block ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.nav-block ul a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
    font-size: 13px;
    padding: 25px;
    display: block;
    color: #656d78;
    transition: 0.3s;
}
.nav-block ul a:hover {
    color: var(--link-color);
}
.section-inner-block {
    position: relative;
}
.section-inner-block .head-image-block {
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.section-inner-block .head-title-block {
    position: absolute;
    position: absolute;
    left: 38%;
    right: 38%;
    top: 40%;
    text-align: center;
}
.section-inner-block .head-title-block h5 {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    font: 28px 'Fjalla One', sans-serif;
    text-transform: uppercase;
}
/* header block end */

.homepage-slider-block .text-block .time,
.posts-row .content .time,
.single-post .time {
    color: #aab2bd;
    font: 12px/22px 'Roboto Slab', sans-serif;
    margin: 0;
}
.homepage-slider-block .text-block h5,
.posts-row .content h5,
.single-post .content h5 {
    font: 16px 'Fjalla One', sans-serif;
    margin: 5px 0 13px;
}
.homepage-slider-block .text-block h5 a,
.posts-row .content h5 a {
    color: #434a54;
    text-decoration: none;
    transition: 0.3s;
}
.homepage-slider-block .text-block h5 a:hover,
.homepage-slider-block .text-block ul h2 a:hover,
.homepage-slider-block .text-block .pull-right a:hover,
.posts-row .content h5 a:hover,
.posts-row .content .pull-right a:hover,
.posts-row .content a:hover {
    color: var(--link-color);
}
.homepage-slider-block .text-block ul,
.posts-row .content ul,
.single-post .content .list-inline-bottom,
.single-post .content .list-inline-share-like,
.comments-list .content .pull-right {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    align-items: center;
    gap: 12px;
}
.homepage-slider-block .text-block p,
.posts-row .content p,
.single-post .content p {
    font: 12px/22px 'Roboto Slab', sans-serif;
    color: #656d78;
    margin: 0;
    padding: 0;
}
.homepage-slider-block .text-block ul h2,
.posts-row .content h2 {
    margin: 0;
    font: 12px 'Fjalla One', sans-serif;
}
.homepage-slider-block .text-block .pull-right a,
.posts-row .content .pull-right a,
.single-post .content .pull-right a {
    color: #949ba6;
    font-size: 12px;
}
.homepage-slider-block .text-block .pull-right ul li:last-child a:hover,
.posts-row .content .pull-right ul li:last-child a:hover,
.single-post .content .pull-right ul li:last-child a:hover,
.comments-list .content .pull-right li:last-child a:hover {
    color: #fb6e52;
}
.homepage-slider-block .text-block .pull-right ul li:last-child a:hover span,
.posts-row .content .pull-right ul li:last-child a:hover span,
.single-post .content .pull-right ul li:last-child a:hover span,
.comments-list .content .pull-right li:last-child a:hover span {
    display: inline;
}
.homepage-slider-block .text-block .pull-right ul li:last-child a,
.posts-row .content .pull-right ul li:last-child a,
.single-post .content .pull-right ul li:last-child a,
.comments-list .content .pull-right li:last-child a {
    position: relative;
}
.homepage-slider-block .text-block .pull-right span,
.posts-row .content .pull-right span,
.single-post .content .pull-right span {
    display: none;
    position: absolute;
    bottom: 22px;
    right: -3px;
    background-color: #fb6e52;
    color: #ffffff;
    font: 12px 'Fjalla One', sans-serif;
    text-align: center;
    padding: 4px;
    border-radius: 3px;
}

/* homepage slider */

.mySlides {
    display:none;
}
.homepage-slider-block {
    margin: 70px 0;
}
.homepage-slider-block .text-block {
    width: 50%;
    border: 1px solid #e6e9ee;
    box-sizing: border-box;
    background-color: var(--content-background-color);
    padding: 20px 20px 2px 20px;
}

.homepage-slider-block .text-block hr {
    margin-top: calc(360px - 58px - 22px - 38px - 154px);
    /* margin-top: 27px; */
    border: none;
    border-top: 1px solid #e6e9ee;
}


.homepage-slider-block .text-block ul h2 a {
    color: #656d78;
    text-decoration: none;
    display: block;
    padding: 5px 12px;
    background-color: var(--body-background-color);;
    border-radius: 3px;
    border: solid 1px transparent;
    transition: 0.3s;
}
.homepage-slider-block .text-block ul h2 a:hover {
    border: var(--link-color) solid 1px;
    background-color: var(--content-background-color);
}
.homepage-slider-block .text-block .pull-right span::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-top: 3px solid #fb6e52;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.homepage-slider-block .slider-img-block img {
    display: block;
    height: auto;
}
/* homepage slider */

/* homepage posts */
.posts-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.posts-row .content,
.single-post .content {
    border: 1px solid #e6e9ee;
    background-color: var(--content-background-color);
    padding: 20px 20px 2px 20px;
}

.posts-row img {
    width: 100%;
    display: block;
}
.posts-row hr,
.single-post .content hr {
    border: none;
    border-top: 1px solid #e6e9ee;
}
.posts-row .content h2 a {
    color: #949ba6;
    text-decoration: none;
}
/* homepage posts end */

/* homepage read more entries */

.read-more-entries-row {
    margin: 70px 0;
    text-align: center;
}
.read-more-entries-row a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--link-color);
    border: 1px solid var(--link-color);
    width: 240px;
    height: 40px;
    margin: 0 auto;
    font: 14px/3em 'Fjalla One', sans-serif;
    transition: 0.3s;
    border-radius: 3px;
}
.read-more-entries-row a i {
    visibility: hidden;
    padding-bottom: 3px;
    font-size: 12px;
    vertical-align: middle;
   
}
.read-more-entries-row a:hover i {
    visibility: visible;
}
.read-more-entries-row a:hover {
    background-color: var(--link-color);
    color: #ffffff;
}

/* homepage read more entries end*/

/* Single post page */

    .single-post .wrapper {
        margin: 70px 0;
    }
    .single-post main {
        width: 75%;
    }
    .single-post aside {
        width: 25%;
    }
    .single-post main img {
        width: 100%;
        display: block;
    }
    .single-post .text {
        padding: 23px 50px 2px 50px;
    }
    .single-post .list-inline-photos {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 18px;
    }
    .single-post .content a {
        text-decoration: none;
        color: #434a54;
        font-weight: 500;
        transition: 0.3s;
    }
    .single-post .content a:hover {
        color: var(--link-color);
    }
    .single-post .content h2 {
        color: #959da7;
        font: 10px "Roboto Slab", serif;
        margin: 0;
        padding: 0;
    } 
    .single-post .content h2 a {
        color: #959da7;
        padding: 0 5px;
    }
    .comments-list {
        margin-top: 90px;
    }
    .comments-list h5 {
        color: #656d78;
        text-transform: uppercase;
        font: 18px 'Fjalla One', sans-serif;
    }
    .comments-list .comment {
        display: flex;
        gap: 30px;
    }
    .comments-list .comment img {
        border-radius: 3px;
    }
    .comments-list .comment .comment-text {
        padding: 3px 0 12px;
    }
    .comments-list .comment h4 {
        color: #434a54;
        margin: 3px 0 11px;
    }
    .comments-list .content .pull-right {
        margin: 0;
    }
    .comments-list .replay {
        margin: 30px 0 30px 105px;
    }

/* footer block styling */
footer {
    background-color: #434a54;
    min-height: 80px;
    color: #ffffff;
}
footer p,
footer ul {
    font: 12px "Roboto Slab", serif;
    margin: calc(( 80px - 16px ) / 2 ) 0;
}
footer p i {
    color: #fb6e52;
    font-size: 14px;
    padding: 0 5px;
}
footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
footer a {
    color: #ffffff;
    position: relative;
}
footer a span {
    display: none;
    position: absolute;
    bottom: 25px;
    left: -26px;
    background-color: var(--link-color);
    width: 60px;
    padding: 4px 0;
    text-align: center;
    border-radius: 3px;
    font: 12px 'Fjalla One', sans-serif;
}
footer a span::after {
    content: '';
    border-top: 3px solid var(--link-color);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
footer ul li a:hover span {
    display: inline;
}